.cards{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 20px;
    position: relative;
    margin-bottom: 100px;
}
.product>img {
    width: 450px;
}
.product{
    margin: 10px;
    width: 550px;
    /* height: 400px; */
    /* background-color: rgb(159, 170, 170); */
}

#gchat{
width: 450px;    
}