.image_mainpage{
    width: 100%;
}


#h1{
    display: inline;
    position: relative;
    z-index: 1;
    top: -585px;
    left: 5%;
    padding: 10px;
    color: white;
    font-size: 72px;
}
.main_image> h1{
    display: inline;
    position: relative;
    z-index: 1;
    top: -485px;
    left: -20%;
    color: white;
    font-size: 72px;
}
.main_image>h2{
    display: inline;
    position: relative;
    z-index: 1;
    top: -340px;
    left: -40%;
    background-color: white;
    padding: 10px;
    color: black;
}